server:
  port: 80
  context-path: /
  tomcat:
    uri-encoding: UTF-8

#  ˝æ›‘¥≈‰÷√
spring:
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://localhost:3306/fcsdn
    username: root
    password: 123456
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  thymeleaf:
    cache: false